@model InstallViewModel
@{
    ViewData["Title"] = "Installing Coco Application";
    Layout = "~/Views/Shared/_InstallLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <form asp-action="Install" asp-controller="Install" method="post">
            <div class="form-group">
                <label for="adminEmail">Admin Email</label>
                <input type="email" class="form-control" asp-for="AdminEmail">
            </div>
            <div class="form-group">
                <label for="adminPassword">Admin Password</label>
                <input type="password" class="form-control" asp-for="AdminPassword">
            </div>
            <div class="form-group">
                <label for="adminConfirmPassword">Admin Password</label>
                <input type="password" class="form-control" asp-for="AdminConfirmPassword">
            </div>
            <button type="submit" class="btn btn-primary">Install</button>
        </form>
    </div>
</div>
