@model PageListModel<ArticlePictureModel>

<table class="table table-bordered">
    <thead>
        <tr class="bg-light">
            <th scope="col" width="300">Article</th>
            <th scope="col">Article Pic Type</th>
            <th scope="col" colspan="2">Picture</th>
            <th scope="col">Picture Created</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Collections.Any())
        {
            foreach (var articlePic in Model.Collections)
            {
                articlePic.SetPageAuthorizationForModel(Model);
                <partial name="_ArticlePictureRow" model="articlePic" />
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No data</td>
            </tr>
        }
    </tbody>
</table>

@await Component.InvokeAsync("PageNavigation", Model)