@{
    ViewData["Title"] = "Install successfully!";
    Layout = "~/Views/Shared/_SetupLayout.cshtml";
}

<div class="card mt-5 setup-panel">
    <div class="success-screen">
        <div class="setup-succeed text-center">
            <label>Your installation are succeed!</label>
            <div class="text-center mt-1 mb-2">
                <span>Let's <a href="/Authentication/Login">Login</a> to access the management center</span>
            </div>
            <div class="succeed text-center text-success">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="text-center mt-3">
                <a href="/Authentication/Login">Login</a>
            </div>
        </div>
    </div>
</div>