@model PageListModel<ArticleModel>
@{
    ViewData["Title"] = "Articles management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/article-webadmin/js/article.js" asp-append-version="true"></script>
}

<div class="card-header bg-dark text-light">
    <div class="row">
        <div class="col-auto me-auto">
            <button class="btn btn-sm text-light mr-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#searchPanel" aria-expanded="true" aria-controls="searchPanel">
                <i class="fa fa-search"></i>
            </button>
            @ViewData["Title"]
        </div>
    </div>
</div>

<partial name="Partial/_SearchForm" model="Model.Filter" />

<div class="data-table table-responsive">
    <partial name="Partial/_ArticleTable" />
    <div class="spinner-grow loading my-3 d-none me-auto ml-auto" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<partial name="Partial/_ActivateModal" model="new ArticleIdRequestModel()" />
<partial name="Partial/_DeactivateModal" model="new ArticleIdRequestModel()" />
<partial name="Partial/_RestoreModal" model="new ArticleIdRequestModel()" />
<partial name="Partial/_PermanentlyDeleteModal" model="new ArticleIdRequestModel()" />
<partial name="Partial/_TemporaryDeleteModal" model="new ArticleIdRequestModel()" />