@model CountryModel

<input asp-for="Id" type="hidden" />
<div class="mb-3">
    <label for="name">Code</label>
    <input class="form-control" type="text" asp-for="Code">
</div>
<div class="mb-3">
    <label for="name">Name</label>
    <input class="form-control" type="text" asp-for="Name">
</div>

@if (Model.Id <= 0)
{
    <button type="submit" class="btn btn-primary">Create</button>
}
else
{
    <button type="submit" class="btn btn-primary">Update</button>
}
