@model ShortcutModel
@{
    ViewData["Title"] = "Shortcut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="~/navigationmanagement/js/shortcut-update.js" asp-append-version="true"></script>
}

<div class="card-header bg-dark text-light">
    <a asp-action="Index" asp-controller="Shortcut" class="btn btn-sm btn-outline-secondary">
        <i class="fa fa-arrow-left"></i>
    </a>
    @ViewData["Title"]
</div>
<div class="card-body">
    <form method="post" asp-action="Create" asp-controller="Shortcut">
        <partial name="Partial/_CreateOrUpdateForm" />
    </form>
</div>
