src/CaminoSocial/Libraries/Camino.Business/bin/
src/CaminoSocial/Libraries/Camino.Business/obj/
src/CaminoSocial/Libraries/Camino.Contract/bin/
src/CaminoSocial/Libraries/Camino.Contract/obj/
src/CaminoSocial/Data/Camino.DAL/obj/
src/CaminoSocial/Data/Camino.DAL/bin/
src/CaminoSocial/Modules/Module.Api.Content/obj/
src/CaminoSocial/Modules/Module.Api.Content/bin/
src/CaminoSocial/Presentation/Camino.Web.Management/obj/
src/CaminoSocial/Presentation/Camino.Web.Management/bin/
src/CaminoSocial/Data/Camino.IdentityDAL/bin/
src/CaminoSocial/Data/Camino.IdentityDAL/obj/
src/CaminoSocial/Presentation/Camino.Framework/obj/
src/CaminoSocial/Presentation/Camino.Framework/bin/
src/CaminoSocial/Presentation/Camino.Management/bin/
src/CaminoSocial/Presentation/Camino.Management/obj/
src/CaminoSocial/Modules/Module.Api.Auth/bin/
src/CaminoSocial/Modules/Module.Api.Auth/obj/
src/CaminoSocial/.vs/
src/CaminoSocial/.vs/CaminoSocial/
src/CaminoSocial/.vs/CaminoSocial/v16/
src/CaminoSocial/.vs/CaminoSocial/DesignTimeBuild/.dtbcache
src/CaminoSocial/.vs/CaminoSocial/v16/.suo
src/CaminoSocial/Presentation/Camino.ApiHost/obj/
src/CaminoSocial/Libraries/Camino.Core/obj/
src/CaminoSocial/Presentation/Camino.ApiHost/bin/
src/CaminoSocial/Libraries/Camino.Core/bin/
src/CaminoSocial/Data/Camino.Data/bin/
src/CaminoSocial/Data/Camino.Data/obj/
