src/caminoSocial/Libraries/Camino.Business/bin/
src/caminoSocial/Libraries/Camino.Business/obj/
src/caminoSocial/Libraries/Camino.Contract/bin/
src/caminoSocial/Libraries/Camino.Contract/obj/
src/caminoSocial/Modules/Module.Api.Content/obj/
src/caminoSocial/Modules/Module.Api.Content/bin/
src/caminoSocial/Modules/Module.Api.Auth/bin/
src/caminoSocial/Modules/Module.Api.Auth/obj/
src/caminoSocial/Modules/Module.Api.File/bin/
src/caminoSocial/Modules/Module.Api.File/obj/
src/caminoSocial/Data/Camino.DAL/obj/
src/caminoSocial/Data/Camino.DAL/bin/
src/caminoSocial/Data/Camino.IdentityDAL/bin/
src/caminoSocial/Data/Camino.IdentityDAL/obj/
src/caminoSocial/Data/Camino.Data/bin/
src/caminoSocial/Data/Camino.Data/obj/
src/caminoSocial/Presentation/Camino.Framework/obj/
src/caminoSocial/Presentation/Camino.Framework/bin/
src/caminoSocial/Presentation/Camino.Management/bin/
src/caminoSocial/Presentation/Camino.Management/obj/
src/caminoSocial/.vs/
src/caminoSocial/.vs/caminoSocial/
src/caminoSocial/.vs/caminoSocial/v16/
src/caminoSocial/.vs/caminoSocial/DesignTimeBuild/.dtbcache
src/caminoSocial/.vs/caminoSocial/v16/.suo
src/caminoSocial/Libraries/Camino.Core/bin/
src/caminoSocial/Libraries/Camino.Core/obj/
src/caminoSocial/Presentation/Camino.ApiHost/obj/
src/caminoSocial/Presentation/Camino.ApiHost/bin/
src/caminoSocial/Modules/Module.Web.ArticleManagement/obj/
src/caminoSocial/Modules/Module.Web.AssociationManagement/bin/
src/caminoSocial/Modules/Module.Web.AssociationManagement/obj/
src/caminoSocial/Modules/Module.Web.AuthenticationManagement/bin/
src/caminoSocial/Modules/Module.Web.AuthenticationManagement/obj/
src/caminoSocial/Modules/Module.Web.AuthorizationManagement/bin/
src/caminoSocial/Modules/Module.Web.AuthorizationManagement/obj/
src/caminoSocial/Modules/Module.Web.DashboardManagement/bin/
src/caminoSocial/Modules/Module.Web.DashboardManagement/obj/
src/caminoSocial/Modules/Module.Web.FarmManagement/bin/
src/caminoSocial/Modules/Module.Web.FarmManagement/obj/
src/caminoSocial/Modules/Module.Web.ProductManagement/bin/
src/caminoSocial/Modules/Module.Web.ProductManagement/obj/
src/caminoSocial/Modules/Module.Web.SetupManagement/bin/
src/caminoSocial/Modules/Module.Web.SetupManagement/obj/
src/caminoSocial/Modules/Module.Web.ArticleManagement/bin/
src/caminoSocial/Modules/Module.Web.DataSourceManagement/bin/
src/caminoSocial/Modules/Module.Web.DataSourceManagement/obj/
src/caminoSocial/Libraries/Camino.IdentityManager/bin/
src/caminoSocial/Libraries/Camino.IdentityManager/obj/
src/caminoSocial/Modules/Module.Web.Navigation/bin/
src/caminoSocial/Modules/Module.Web.Navigation/obj/
src/caminoSocial/Modules/Module.Web.IdentityManagement/bin/
src/caminoSocial/Modules/Module.Web.IdentityManagement/obj/
src/caminoSocial/Libraries/Camino.Service/bin/
src/caminoSocial/Libraries/Camino.Service/obj/
