src/Server/Modules/Module.Api.Auth/bin/
src/Server/Modules/Module.Api.Auth/obj/
src/Server/Presentation/Camino.Management/bin/
src/Server/Presentation/Camino.Management/obj/
src/Server/.vscode/
src/Server/.vs/
src/Server/.vs/Server/
src/Server/.vs/Server/v16/
src/Server/.vs/Server/DesignTimeBuild/.dtbcache
src/Server/.vs/Server/v16/.suo
src/Server/Presentation/Camino.ApiHost/obj/
src/Server/Presentation/Camino.ApiHost/bin/
src/Server/Modules/Module.Web.ArticleManagement/obj/
src/Server/Modules/Module.Web.AssociationManagement/bin/
src/Server/Modules/Module.Web.AssociationManagement/obj/
src/Server/Modules/Module.Web.CommunityManagement/bin/
src/Server/Modules/Module.Web.CommunityManagement/obj/
src/Server/Modules/Module.Web.AuthenticationManagement/bin/
src/Server/Modules/Module.Web.AuthenticationManagement/obj/
src/Server/Modules/Module.Web.AuthorizationManagement/bin/
src/Server/Modules/Module.Web.AuthorizationManagement/obj/
src/Server/Modules/Module.Web.DashboardManagement/bin/
src/Server/Modules/Module.Web.DashboardManagement/obj/
src/Server/Modules/Module.Web.FarmManagement/bin/
src/Server/Modules/Module.Web.FarmManagement/obj/
src/Server/Modules/Module.Web.ProductManagement/bin/
src/Server/Modules/Module.Web.ProductManagement/obj/
src/Server/Modules/Module.Web.SetupManagement/bin/
src/Server/Modules/Module.Web.SetupManagement/obj/
src/Server/Modules/Module.Web.ArticleManagement/bin/
src/Server/Modules/Module.Web.DataSourceManagement/bin/
src/Server/Modules/Module.Web.DataSourceManagement/obj/
src/Server/Modules/Module.Web.Navigation/bin/
src/Server/Modules/Module.Web.Navigation/obj/
src/Server/Modules/Module.Web.IdentityManagement/bin/
src/Server/Modules/Module.Web.IdentityManagement/obj/
src/Server/Modules/Module.Web.UploadManagement/bin/
src/Server/Modules/Module.Web.UploadManagement/obj/
src/Server/Modules/Module.Web.MediaManagement/bin/
src/Server/Modules/Module.Web.MediaManagement/obj/
src/Server/Modules/Module.Api.Media/bin/
src/Server/Modules/Module.Api.Media/obj/
src/Server/Modules/Module.Api.Product/bin/
src/Server/Modules/Module.Api.Product/obj/
src/Server/Modules/Module.Api.Article/bin/Debug/
src/Server/Modules/Module.Api.Article/obj/
src/Server/Modules/Module.Api.Farm/bin/
src/Server/Modules/Module.Api.Farm/obj/
src/Server/Modules/Module.Api.Feed/bin/
src/Server/Modules/Module.Api.Feed/obj/
src/Server/Infrastructure/Camino.Framework/bin/
src/Server/Infrastructure/Camino.Framework/obj/
src/Server/Infrastructure/Camino.Infrastructure/bin/
src/Server/Infrastructure/Camino.Infrastructure/obj/
src/Server/Core/Camino.Core/bin/
src/Server/Core/Camino.Core/obj/
src/Server/Modules/Module.Web.NavigationManagement/bin/
src/Server/Modules/Module.Web.NavigationManagement/obj/
src/Server/Modules/Module.Api.Navigation/bin/
src/Server/Modules/Module.Api.Navigation/obj/
src/Server/Modules/Module.Api.Order/bin/
src/Server/Modules/Module.Api.Order/obj/
src/Server/Infrastructure/Camino.Infrastructure.EntityFrameworkCore/bin/
src/Server/Infrastructure/Camino.Infrastructure.EntityFrameworkCore/obj/
src/Server/Application/Camino.Application.Contracts/bin/
src/Server/Application/Camino.Application.Contracts/obj/
src/Server/Application/Camino.Application/bin/
src/Server/Application/Camino.Application/obj/
src/Server/Core/Camino.Core.Domains/bin/
src/Server/Core/Camino.Core.Domains/obj/
src/Server/Infrastructure/Camino.Infrastructure.Emails/bin/
src/Server/Infrastructure/Camino.Infrastructure.Emails/obj/
src/Server/Infrastructure/Camino.Infrastructure.Files/bin/
src/Server/Infrastructure/Camino.Infrastructure.Files/obj/
src/Server/Infrastructure/Camino.Infrastructure.Http/bin/
src/Server/Infrastructure/Camino.Infrastructure.Http/obj/
src/Server/Infrastructure/Camino.Infrastructure.Identity/bin/
src/Server/Infrastructure/Camino.Infrastructure.Identity/obj/
src/Server/Infrastructure/Camino.Infrastructure.Images/bin/
src/Server/Infrastructure/Camino.Infrastructure.Images/obj/
src/Server/Infrastructure/Camino.Infrastructure.Modularity/bin/
src/Server/Infrastructure/Camino.Infrastructure.Modularity/obj/
src/Server/Shared/Camino.Shared.Configuration/bin/
src/Server/Shared/Camino.Shared.Configuration/obj/
src/Server/Shared/Camino.Shared.Utils/bin/
src/Server/Shared/Camino.Shared.Utils/obj/
src/Server/Shared/Camino.Shared/bin/
src/Server/Shared/Camino.Shared/obj/
src/Server/Shared/Camino.Shared.File/obj/
src/Server/Shared/Camino.Shared.File/bin/
src/Server/Infrastructure/Camino.Infrastructure.AspNetCore/bin/
src/Server/Infrastructure/Camino.Infrastructure.AspNetCore/obj/
src/Server/Infrastructure/Camino.Infrastructure.AutoMapper/bin/
src/Server/Infrastructure/Camino.Infrastructure.AutoMapper/obj/
src/Server/Infrastructure/Camino.Infrastructure.GraphQL/bin/
src/Server/Infrastructure/Camino.Infrastructure.GraphQL/obj/
src/Server/Infrastructure/Camino.Infrastructure.DependencyInjection/bin/
src/Server/Infrastructure/Camino.Infrastructure.DependencyInjection/obj/
src/Server/Modules/Article/src/Module.Article.Api/bin/
src/Server/Modules/Article/src/Module.Article.Api/obj/
src/Server/Modules/Article/src/Module.Article.WebAdmin/bin/
src/Server/Modules/Article/src/Module.Article.WebAdmin/obj/
src/Server/Modules/Community/src/Module.Community.WebAdmin/bin/
src/Server/Modules/Community/src/Module.Community.WebAdmin/obj/
src/Server/Modules/Dashboard/src/Module.Dashboard.WebAdmin/bin/
src/Server/Modules/Dashboard/src/Module.Dashboard.WebAdmin/obj/
src/Server/Modules/Farm/src/Module.Farm.Api/bin/
src/Server/Modules/Farm/src/Module.Farm.Api/obj/
src/Server/Modules/Farm/src/Module.Farm.WebAdmin/bin/
src/Server/Modules/Farm/src/Module.Farm.WebAdmin/obj/
src/Server/Modules/Feed/src/Module.Feed.Api/bin/
src/Server/Modules/Feed/src/Module.Feed.Api/obj/
src/Server/Modules/Identity/src/Module.Auth.Api/bin/
src/Server/Modules/Identity/src/Module.Auth.Api/obj/
src/Server/Modules/Identity/src/Module.Authentication.WebAdmin/bin/
src/Server/Modules/Identity/src/Module.Authentication.WebAdmin/obj/
src/Server/Modules/Identity/src/Module.Authorization.WebAdmin/bin/
src/Server/Modules/Identity/src/Module.Authorization.WebAdmin/obj/
src/Server/Modules/Identity/src/Module.Identity.WebAdmin/bin/
src/Server/Modules/Identity/src/Module.Identity.WebAdmin/obj/
src/Server/Modules/Media/src/Module.Media.Api/bin/
src/Server/Modules/Media/src/Module.Media.Api/obj/
src/Server/Modules/Media/src/Module.Media.WebAdmin/bin/
src/Server/Modules/Media/src/Module.Media.WebAdmin/obj/
src/Server/Modules/Navigation/src/Module.Navigation.Api/bin/
src/Server/Modules/Navigation/src/Module.Navigation.Api/obj/
src/Server/Modules/Navigation/src/Module.Navigation.WebAdmin/bin/
src/Server/Modules/Navigation/src/Module.Navigation.WebAdmin/obj/
src/Server/Modules/Order/src/Module.Order.Api/bin/
src/Server/Modules/Order/src/Module.Order.Api/obj/
src/Server/Modules/Product/src/Module.Product.Api/bin/
src/Server/Modules/Product/src/Module.Product.Api/obj/
src/Server/Modules/Product/src/Module.Product.WebAdmin/bin/
src/Server/Modules/Product/src/Module.Product.WebAdmin/obj/
src/Server/Modules/Setup/src/Module.Setup.WebAdmin/bin/
src/Server/Modules/Setup/src/Module.Setup.WebAdmin/obj/
src/Server/Presentation/Camino.ApiHost/appsettings.Release.json
src/Server/Presentation/Camino.Management/appsettings.Release.json
src/Server/Presentation/Camino.ApiHost/appsettings.Staging.json
src/Server/Presentation/Camino.Management/appsettings.Staging.json
src/Server/Presentation/Camino.Management/Modules/
src/Server/Presentation/Camino.ApiHost/Modules/
/src/Server/Presentation/Camino.Management/App_Data/setupsettings.json
