@model ProductAttributeRelationModel

<div class="modal fade" id="productAttributeDeleteModal" tabindex="-1" aria-labelledby="productAttributeUpdateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productAttributeDeleteLabel">Xóa thuộc tính này</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="Id" id="productAttributeDeleteId" />
                <input type="hidden" id="formAttributeDeletionIdentifier" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="submitDeleteProductAttributeRelation">Xóa</button>
            </div>
        </div>
    </div>
</div>