@model SetupModel

<form asp-action="SeedData" asp-controller="Setup" method="post" class="setup-form" id="setupForm">
    <div class="card-header bg-primary text-white">
        Seeding the account &amp; data
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="AdminEmail">Email</label>
            <input type="email" class="form-control" asp-for="AdminEmail">
        </div>
        <div class="mb-3">
            <label for="Firstname">First name</label>
            <input type="text" class="form-control" asp-for="Firstname">
        </div>
        <div class="mb-3">
            <label for="Lastname">Last name</label>
            <input type="text" class="form-control" asp-for="Lastname">
        </div>
        <div class="mb-3">
            <label for="AdminPassword">Password</label>
            <input type="password" class="form-control" asp-for="AdminPassword">
        </div>
        <div class="mb-3">
            <label for="AdminConfirmPassword">Password</label>
            <input type="password" class="form-control" asp-for="AdminConfirmPassword">
        </div>
    </div>
    <div class="card-footer text-center">
        <button type="submit" class="btn btn-info" id="submitSetup">Seed</button>
    </div>
</form>