@model StartSetupModel

<form asp-action="StartSetup" asp-controller="Setup" method="post" class="setup-form" id="setupForm">
    <div class="card-header bg-primary text-white">
        Setting up the database
    </div>
    <div class="card-footer text-center">
        <button type="submit" class="btn btn-info" id="submitSetup">Setup</button>
    </div>
</form>