@model PageListModel<ProductCategoryModel>

<table class="table table-bordered">
    <thead>
        <tr class="bg-light">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Collections.Any())
        {
            foreach (var cate in Model.Collections)
            {
                cate.SetPageAuthorizationForModel(Model);
                <partial name="_ProductCategoryRow" model="cate" />
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No data</td>
            </tr>
        }
    </tbody>
</table>

@await Component.InvokeAsync("PageNavigation", Model)
