@model PageListModel<ProductModel>

<table class="table table-bordered">
    <thead>
        <tr class="bg-light">
            <th scope="col">#</th>
            <th scope="col" colspan="2">Product</th>
            <th scope="col" width="200">Created</th>
            <th scope="col" width="200">Updated</th>
            <th scope="col" width="100"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Collections.Any())
        {
            foreach (var product in Model.Collections)
            {
                product.SetPageAuthorizationForModel(Model);
                <partial name="_ProductRow" model="product" />
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No data</td>
            </tr>
        }
    </tbody>
</table>

@await Component.InvokeAsync("PageNavigation", Model)