@{
    ViewData["Title"] = "Create role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RoleViewModel

<div class="card-header bg-secondary text-light">
    <a asp-action="Index" asp-controller="Role" class="btn btn-sm btn-light">
        <i class="fa fa-arrow-left"></i>
    </a>
    @ViewData["Title"]
</div>
<div class="card-body">
    <form method="post" asp-action="Create" asp-controller="Role">
        <partial name="_CreateOrUpdateForm" />
    </form>
</div>
