@model AuthorizationPolicyUsersViewModel

<div class="modal fade" id="grantRoleModal" tabindex="-1" role="dialog" aria-labelledby="grantRoleLabel" aria-hidden="true">
    <form asp-action="Grant" asp-controller="UserAuthorizationPolicy" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="grantRoleLabel">Grant authorization policy @Model.Name for users</h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">User:</label>
                        <select class="select2-remote-ajax" asp-for="UserId" data-url="@Url.Action("Search", "User")"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Grant</button>
                </div>
            </div>
        </div>
    </form>
</div>