@model SetupViewModel
@{
    ViewData["Title"] = "Setup your account";
    Layout = "~/Views/Shared/_SetupLayout.cshtml";
}
@section DocumentHead{
    <link rel="stylesheet" href="@Url.Content("~/css/setup-layout.css")" type="text/css" />
}

<div class="card mt-5 setup-panel">
    <form asp-action="Index" asp-controller="Setup" method="post" class="setup-form">
        <div class="card-header bg-primary text-white">
            Setting up Admin account
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="AdminEmail">Email</label>
                <input type="email" class="form-control" asp-for="AdminEmail">
            </div>
            <div class="form-group">
                <label for="Firstname">First name</label>
                <input type="text" class="form-control" asp-for="Firstname">
            </div>
            <div class="form-group">
                <label for="Lastname">Last name</label>
                <input type="text" class="form-control" asp-for="Lastname">
            </div>
            <div class="form-group">
                <label for="AdminPassword">Password</label>
                <input type="password" class="form-control" asp-for="AdminPassword">
            </div>
            <div class="form-group">
                <label for="AdminConfirmPassword">Password</label>
                <input type="password" class="form-control" asp-for="AdminConfirmPassword">
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-info">Setup</button>
        </div>
    </form>
    <div class="progress-screen">
        <div class="setup-porgress">
            <label class="text-center">We are settingup your account, please take a while!</label>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~/js/setup.js")" asp-append-version="true"></script>
}