@using Coco.Management.Models
@model ArticleCategoryViewModel

<form method="post" asp-action="CreateOrUpdate" asp-controller="ArticleCategory">
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" asp-for="Name">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
    </div>
    @if (Model.SelectCategories.Any())
    {
        <div class="form-group">
            <label>Parent</label>
            <select class="form-control" asp-for="ParentId" asp-items="Model.SelectCategories">
                <option value="">--No Selected--</option>
            </select>
        </div>
    }

    @if (Model.Id <= 0)
    {
        <button type="submit" class="btn btn-primary">Create</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Update</button>
    }
</form>