@{
    ViewData["Title"] = "Unauthorized";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="row justify-content-md-center">
    <div class="col-lg-5 col-md-6 col-sm-10 col-12">
        <p>Unauthorized</p>
    </div>
</div>
