@model PageListModel<ProductAttributeModel>
@{
    ViewData["Title"] = "Product attributes management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {
    <script src="~/productmanagement/js/productattribute.js" asp-append-version="true"></script>
}

<div class="card-header bg-dark text-light">
    <div class="row">
        <div class="col-auto mr-auto">
            <button class="btn btn-sm text-light mr-2" type="button" data-toggle="collapse"
                    data-target="#searchPanel" aria-expanded="true" aria-controls="searchPanel">
                <i class="fa fa-search"></i>
            </button>
            @ViewData["Title"]
        </div>
        <div class="col-auto">
            @if (Model.CanCreate)
            {
                <a asp-action="Create" asp-controller="ProductAttribute" class="btn btn-sm btn-outline-primary">
                    <i class="fa fa-plus"></i>
                </a>
            }
        </div>
    </div>
</div>

<partial name="_SearchForm" model="Model.Filter" />

<div class="data-table table-responsive">
    <partial name="_ProductAttributeTable" />
    <div class="spinner-grow loading my-3 d-none mr-auto ml-auto" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>