@using Microsoft.Extensions.Options
@using Camino.Shared.Configuration.Options
@inject IOptions<AppSettings> optionsAccessor
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to <a href="@optionsAccessor.Value.CaminoClientAppUrl">Camino Community</a>.</p>
</div>
