<header class="top-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark box-shadow">
        <div class="container-fluid">
            <a class="navbar-brand text-white" asp-action="Index" asp-controller="Home" >
                <img class="site-logo" src="~/img/logo.png" width="35" />
                Management Center
            </a>
            <div class="navbar-right">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-action="Logout" asp-controller="Authentication">
                            <i class="fa fa-sign-out-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>