<header class="top-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-white box-shadow">
        <div class="container-fluid">
            <a class="text-dark" asp-action="Index" asp-controller="Home" >
                Welcome to management center
            </a>
            <div class="navbar-right">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Logout" asp-controller="Authentication">
                            <i class="fa fa-sign-out-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>