@model ArticleCategoryModel
@{
    ViewData["Title"] = $"Update article category {Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="~/articlemanagement/js/articlecategory-update.js" asp-append-version="true"></script>
}


<div class="card-header bg-dark text-light">
    <a asp-action="Index" asp-controller="ArticleCategory" class="btn btn-sm btn-outline-secondary">
        <i class="fa fa-arrow-left"></i>
    </a>
    @ViewData["Title"]
</div>
<div class="card-body">
    <form method="post" asp-action="Update" asp-controller="ArticleCategory">
        <partial name="Partial/_CreateOrUpdateForm" />
    </form>
</div>

@{
    var articleCategoryIdModel = new ArticleCategoryIdRequestModel { Id = Model.Id, ShouldBackToDetail = true };
}
<partial name="Partial/_ActivateModal" model="articleCategoryIdModel" />
<partial name="Partial/_DeactivateModal" model="articleCategoryIdModel" />
<partial name="Partial/_PermanentlyDeleteModal" model="articleCategoryIdModel" />
