@model UserStatusModel
@{
    ViewData["Title"] = "User status detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header bg-dark text-light">
    <a asp-action="Index" asp-controller="UserStatus" class="btn btn-sm btn-secondary">
        <i class="fa fa-arrow-left"></i>
    </a>
    @if (Model.CanUpdate)
    {
        <a asp-action="Update" asp-controller="UserStatus" asp-route-id="@Model.Id" class="btn btn-sm btn-primary">
            <i class="fa fa-edit"></i>
        </a>
    }
    @ViewData["Title"]
</div>
<div class="card-body">
    <div class="form-group">
        <label>Name</label>
        <span class="form-control" readonly>@Model.Name</span>
    </div>
    <div class="form-group">
        <label>Description</label>
        <span class="form-control" readonly>@Model.Description</span>
    </div>
</div>