@model AuthorizationPolicyModel

<input asp-for="Id" type="hidden" />
<div class="mb-3">
    <div class="row">
        @if (Model.SelectPermissionMethods.Any())
        {
            <div class="mb-3 col-md-3">
                <label for="PermissionMethod">Permission method</label>
                <select class="form-control" asp-for="PermissionMethod" asp-items="Model.SelectPermissionMethods"></select>
            </div>
        }
        <div class="mb-3 col-md-9">
            <label for="name">Module</label>
            <input class="form-control" type="text" asp-for="Name">
        </div>
    </div>
</div>
<div class="mb-3">
    <label for="description">Description</label>
    <textarea class="form-control" asp-for="Description"></textarea>
</div>

@if (Model.Id <= 0)
{
    <button type="submit" class="btn btn-primary">Create</button>
}
else
{
    <button type="submit" class="btn btn-primary">Update</button>
}