<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="~/img/logo.png" />
    <title>@ViewData["Title"] - Camino Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    @RenderSection("DocumentHead", required: false)
</head>
<body>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-sm-3 col-md-2">
                @await Component.InvokeAsync("NavAccordion")
            </div>
            <div class="col-sm-9 col-md-10">
                <div class="row ml-0">
                    @await Component.InvokeAsync("TopNav")
                </div>
                <div class="card main my-3 box-shadow">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <partial name="_Footer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
