@{
    ViewData["Title"] = "Create category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ArticleCategoryModel


<div class="card-header bg-dark text-light">
    <a asp-action="Index" asp-controller="ArticleCategory" class="btn btn-sm btn-secondary">
        <i class="fa fa-arrow-left"></i>
    </a>
    @ViewData["Title"]
</div>
<div class="card-body">
    <form method="post" asp-action="Create" asp-controller="ArticleCategory">
        <partial name="_CreateOrUpdateForm" />
    </form>
</div>
