@model PageListViewModel<ArticleCategoryViewModel>
@inject IPageAuthorizeManager pageAuthorizeManager
@{
    ViewData["Title"] = "Article categories management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header bg-dark text-light">
    @if (Model.CanCreate)
    {
        <a asp-action="Create" asp-controller="ArticleCategory" class="btn btn-sm btn-primary">
            <i class="fa fa-plus"></i>
        </a>
    }
    @ViewData["Title"]
</div>
<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr class="bg-light">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Tools</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Collections.Any())
            {
                foreach (var cate in Model.Collections)
                {
                    pageAuthorizeManager.SetPageAuthorizationForModel(cate, Model);
                    <partial name="_ArticleCategoryRow" model="cate" />
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No data</td>
                </tr>
            }
        </tbody>
    </table>
</div>