@model PagerViewModel<AuthorizationPolicyViewModel>
@inject IPageAuthorizeManager pageAuthorizeManager
@{
    ViewData["Title"] = "Authorization policies management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="card-header bg-secondary text-light">
        @if (Model.CanCreate)
        {
            <a asp-action="Create" asp-controller="AuthorizationPolicy" class="btn btn-sm btn-primary">
                <i class="fa fa-plus"></i>
            </a>
        }
        @ViewData["Title"]
    </div>
<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr class="bg-light">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col" width="200">Tools</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Collections.Any())
            {
                foreach (var policy in Model.Collections)
                {
                    pageAuthorizeManager.SetPageAuthorizationForModel(policy, Model);
                    <partial name="_AuthorizationPolicyRow" model="policy" />
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No data</td>
                </tr>
            }
        </tbody>
    </table>
</div>