#farmThumbnails .remove-thumbnail {
    position: absolute;
    top: -5px;
    right: -3px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    line-height: 21px;
    color: #808080;
    border: 2px solid #808080;
    background-color: #ffffff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
