@model FarmTypeModel
@if (Model.StatusId == FarmTypeStatuses.Actived)
{
    <span class="badge rounded-pill bg-success">@Model.StatusId</span>
}
else if (Model.StatusId == FarmTypeStatuses.Inactived)
{
    <span class="badge rounded-pill bg-secondary">@Model.StatusId</span>
}