/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-color: #F5F9FC;
}

.box-shadow {
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

/* Controls
-------------------------------------------------- */
.select2 {
    min-width: 200px;
}

/* Sticky header styles
-------------------------------------------------- */
.top-nav {
    width: 100%;
}

    .top-nav .navbar {
        padding: 5px 0;
        margin-right: -15px;
    }

    .top-nav .navbar-toggler {
        border: 0;
        padding-left: 0;
        padding-right: 0;
    }
/* Nav tab
-------------------------------------------------- */
.site-nav-logo {
    height: 51px;
    line-height: 51px;
    margin-left: -15px;
    padding-left: 15px;
}

.site-logo {
    max-width: 35px;
    max-height: 35px;
}

.site-nav-logo .navbar-brand {
    font-weight: 600;
    font-size: 24px;
    padding: 0;
    margin-right: 0;
}

#navTab {
    margin-left: -15px;
    border-bottom: 0;
}

    #navTab .nav-item {
        margin-bottom: 0;
    }

    #navTab .nav-link {
        font-weight: 600;
        color: #343a40;
        height: 51px;
        line-height: 51px;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 0;
        border: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    #navTab .nav-item:first-child .nav-link {
        border-top-left-radius: 0;
    }

    #navTab .nav-link.active {
        background-color: #F5F9FC;
        border-bottom: 0;
        color: #28a745;
    }

/* Nav tools
-------------------------------------------------- */
.tab-content .tab-pane {
    margin-left: -15px;
}

.nav-tool {
    height: 100%;
}

    .nav-tool .nav-tool-item > a {
        border-right: 0;
        border-left: 0;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        font-size: 14px;
        display: block;
        padding: 0.75rem 0.75rem;
        position: relative;
        font-weight: 700;
        text-decoration: none;
    }

        .nav-tool .nav-tool-item > a.collapsed:hover {
            background-color: transparent;
        }

        .nav-tool .nav-tool-item > a.collapsed {
            background-color: transparent;
            font-weight: 400;
        }

        .nav-tool .nav-tool-item > a::after {
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 3px;
            height: 100%;
            background-color: #28a745;
        }

        .nav-tool .nav-tool-item > a.collapsed::after {
            display: none;
        }

    .nav-tool .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-color: #f1f1f1;
        font-size: 14px;
        padding: 0.75rem 0.75rem;
    }

        .nav-tool .list-group-item:hover,
        .nav-tool .list-group-item.active:hover {
            text-decoration: none;
            font-weight: 600;
        }

        .nav-tool .list-group-item.active {
            background-color: #FFFFFF;
            font-weight: 700;
        }
/* Sticky footer styles
-------------------------------------------------- */
.main {
    border: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 45px;
    font-size: 14px;
}
