/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-color: #f4f7f6;
}

.box-shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

/* Controls
-------------------------------------------------- */
.select2 {
    min-width: 200px;
}

/* Sticky header styles
-------------------------------------------------- */
.top-nav .navbar{
    padding: 5px 0;
}

.site-logo {
    max-width: 35px;
    max-height: 35px;
    margin-right: 8px;
}

.navbar-light .navbar-brand {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0;
}

/* Nav tab
-------------------------------------------------- */
#navTab {
    margin-left: -15px;
    margin-right: -15px;
}

    #navTab .nav-link {
        font-weight: 600;
        color: #f4f7f6;
        height: 51px;
        line-height: 51px;
        padding-top: 0;
        padding-bottom: 0;
    }

    #navTab .nav-item:first-child .nav-link {
        border-top-left-radius: 0;
    }

    #navTab .nav-link:hover{
        border: 0;
    }

    #navTab .nav-link.active {
        background-color: #f4f7f6;
        border-bottom: 1px solid #f4f7f6;
        color: #f68c1f;
    }
/* Nav tools
-------------------------------------------------- */
.nav-tool {
    height: 100%;
    margin-left: -15px;
}

    .nav-tool .nav-tool-item > a {
        border-right: 0;
        border-left: 0;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        font-size: 14px;
        display: block;
        padding: 0.75rem 0.75rem;
        position: relative;
        background-color: #f1f1f1;
        font-weight: 600;
        text-decoration: none;
    }

        .nav-tool .nav-tool-item > a.collapsed:hover {
            background-color: #f1f1f1;
        }

        .nav-tool .nav-tool-item > a.collapsed {
            background-color: transparent;
            font-weight: 400;
        }

        .nav-tool .nav-tool-item > a::after {
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 3px;
            height: 100%;
            background-color: #f68c1f;
        }

        .nav-tool .nav-tool-item > a.collapsed::after {
            display: none;
        }

    .nav-tool .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-color: #f1f1f1;
        font-size: 14px;
        padding: 0.75rem 0.75rem;
    }

        .nav-tool .list-group-item:hover,
        .nav-tool .list-group-item.active:hover {
            text-decoration: none;
            font-weight: 600;
        }

        .nav-tool .list-group-item.active {
            background-color: #FFFFFF;
            font-weight: 600;
            color: #f68c1f !important;
        }
/* Sticky footer styles
-------------------------------------------------- */
.main {
    border: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
