/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: #f8f9fa;
}

.box-shadow {
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

/* Controls
-------------------------------------------------- */
.select2 {
    min-width: 200px;
}

/* Sticky header styles
-------------------------------------------------- */
.top-nav {
    width: 100%;
}

    .top-nav .navbar {
        padding: 5px 0;
    }

    .top-nav .navbar-toggler {
        border: 0;
        padding-left: 0;
        padding-right: 0;
    }
/* Nav tab
-------------------------------------------------- */
.site-nav-logo {
    height: 50px;
    line-height: 50px;
}

.site-logo {
    max-width: 35px;
    max-height: 35px;
}

.site-nav-logo .navbar-brand {
    font-weight: 600;
    font-size: 24px;
    padding: 0;
    margin-right: 0;
}

.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

#navTab {
    border-bottom: 0;
}

    #navTab .nav-item {
        margin-bottom: 0;
    }

    #navTab .nav-link {
        font-weight: 600;
        color: #FFFFFF;
        height: 45px;
        line-height: 45px;
        padding-top: 0;
        padding-bottom: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 0;
    }

        #navTab .nav-link.active {
            background-color: #343a40;
            border-bottom: 0;
            color: #28a745;
        }

/* Nav tools
-------------------------------------------------- */
#mainNavigation,
#mainNavigation.d-none.show {
    -webkit-transition: width 0s ease;
    -moz-transition: width 0s ease;
    -o-transition: width 0s ease;
    transition: width 0s ease;
}

    #mainNavigation.collapse {
        width: 0px;
    }

.nav-tool {
    height: 100%;
}

    .nav-tool .nav-tool-item > span {
        display: block;
        position: relative;
    }

        .nav-tool .nav-tool-item > span > a,
        .nav-tool .nav-tool-item > span > button {
            font-size: 14px;
            display: block;
            padding: 0.75rem 0.75rem;
            font-weight: 700;
            text-decoration: none;
            border: 0;
            outline: none;
            background-color: transparent;
            width: 100%;
            text-align: left;
        }

        .nav-tool .nav-tool-item > span :hover {
            background-color: #212529;
        }

        .nav-tool .nav-tool-item > span > a.collapsed {
            font-weight: 400;
        }

        .nav-tool .nav-tool-item > span .fa-angle-up,
        .nav-tool .nav-tool-item > span .fa-angle-down {
            position: absolute;
            top: 50%;
            bottom: 50%;
            margin: -5px auto 0 auto;
            right: 15px;
        }

        .nav-tool .nav-tool-item > span .fa-angle-up {
            display: inline-block;
        }

        .nav-tool .nav-tool-item > span .fa-angle-down {
            display: none;
        }

        .nav-tool .nav-tool-item > span > a.collapsed .fa-angle-up {
            display: none;
        }

        .nav-tool .nav-tool-item > span > a.collapsed .fa-angle-down {
            display: inline-block;
        }

        .nav-tool .nav-tool-item > span a::after {
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            bottom: 50%;
            width: 3px;
            height: 15px;
            margin: auto;
            background-color: #28a745;
        }

        .nav-tool .nav-tool-item > span > a.collapsed::after {
            display: none;
        }

    .nav-tool .list-group {
        border-radius: 0;
    }

    .nav-tool .list-group-item {
        border-radius: 0;
        border: 0;
        font-size: 14px;
        padding: 0.75rem 0.75rem;
        background-color: transparent;
    }

        .nav-tool .list-group-item:hover,
        .nav-tool .list-group-item.active:hover {
            text-decoration: none;
            background-color: #212529;
        }

        .nav-tool .list-group-item:hover {
            color: #6c757d !important;
        }

        .nav-tool .list-group-item.active {
            font-weight: 700;
        }
/* Sticky footer styles
-------------------------------------------------- */
.main {
    border: 0;
}

.table-fixed-layout {
    table-layout: fixed;
}

.data-table .spinner-grow {
    width: 3rem;
    height: 3rem;
    text-align: center;
    display: block;
}

.main-body {
    height: calc(100% - 100px - 2rem);
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
    width: 100%;
    white-space: nowrap;
    line-height: 45px;
    font-size: 14px;
}
